@use "../abstracts";

.home {
    &__container {
        margin: 40px 0;

        @include abstracts.screen(md) {
            margin: 30px 0;
        }
    }

    &__heading {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.41;
    }

    .home__cate {
        margin-top: 20px;
        --grid-gutter-x: 51px;

        @include abstracts.screen(lg) {
            --grid-gutter-x: 30px;
        }

        @include abstracts.screen(md) {
            --grid-gutter-x: 30px;
            --grid-gutter-y: 20px;
        }
    }
        .home-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }
    
        &-filter {
            display: flex;
            align-items: center;
            padding: 6px 12px;
            border-radius: 6px;
            flex: 0 0 auto;
            gap: 14px;
            background: var(--home-filter-bg);
            cursor: pointer;
    
            &__text {
                color: var(--home-filter-text);
                font-size: 14px;
                font-weight: 700;
                line-height: 1.42;
                /* 142.857% */
            }
        }
}
