@use "../abstracts";

.header {
  background: var(--header-bg-color);
  @include abstracts.screen(sm) {
    padding-left: 16px;
    padding-right: 16px;
  }
    @include abstracts.screen(lg) {
    box-shadow:0px 20px 60px 10px var(--header-shadow) ;
  }
  
}
.top-bar,
.logo,
.navbar-inner,
.top-act,
.navbar__link {
  display: flex;
  align-items: center;
}

.top-bar {
  @include abstracts.screen(md) {
    justify-content: space-between;
  }
  padding: 3rem 0;
  position: relative;
    z-index: 1;
  &__more {
    cursor: pointer;
    display: none;
    @include abstracts.screen(lg) {
      margin-right: 3.6rem;
    }

        @include abstracts.screen(md) {
      margin-right: 0;
    }
  }
}

%top-bar-typho {
  font-family: Gordita, sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.46; /* 146.667% */
}
.nav-btn {
  @include abstracts.screen(lg) {
    align-items: center;
    height: 55.5px;
  }

  &__card {
    margin-left: 16px;
    color: var(--side-bar-text-color);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.46;
  }
  
                &__stats {
                  @extend .nav-btn__card;
                  margin-left: auto;
                }
        
                }
.navbar {

  &__overlay {
    position: fixed;
    inset: 0;
    z-index: 8;
    visibility: hidden;
    opacity: 0;
    transition: opacity, visibility;
    transition-duration: 1s;
    transition-timing-function: ease;
    background: rgba($color: #000000, $alpha: 0.2);

  }

    @include abstracts.screen(lg) {
    position: fixed;
    background: var(--mobile-menu-bg-color);
    border-radius: 0px 20px 20px 0px;
    z-index: 9;
    inset: 0 50% 0 0;
    padding: 20px;
    transform: translate(-100%);
    transition: ease 1s;
  @include abstracts.screen(md) {
      inset: 0 20% 0 0;
    }
    &.show {
      box-shadow: 0px 40px 90px 20px var(--side-bar-shadow);
      transform: translate(0);

      &~.navbar__overlay {
        visibility: visible;
        opacity: 1;
      }
    }
  }
&__arrow {
  padding-top: 0.3rem;
  transition: transform ease 0.2s;

  @include abstracts.screen(lg) {
    transform: rotate(-90deg);
  }
}
}
.navbar-inner {
  margin-left: 129px;
  @include abstracts.screen(xl) {
    margin-left: 4.4rem;
  }

    @include abstracts.screen(lg) {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    overflow-y: auto;
    // overflow-y: auto;
    height: calc(100% - 160px);
    }
    
    
    &-close-btn {
      display: none;
    
      @include abstracts.screen(lg) {
        padding: 0 0 10px;
        cursor: pointer;
      }
  }

  .navbar__link {
    display: flex;
    column-gap: 0.6rem;
    height: 5rem;
    padding: 0 15px;
    color: var(--text-color);
    text-decoration: none;
    @extend %top-bar-typho;
    @include abstracts.screen(lg) {
      justify-content: space-between;
      padding: 0;
        line-height: 1.5;
        height: auto;
        padding: 20px 0 13px;
    }

    // &:hover ~ .dropdown{
    //   display: block;
    // }
                                                                                                                                }

  .navbar__item{
    &:hover .dropdown {
        display: block;
      }
        @include abstracts.screen(lg) {
        width: 100%;
        &:hover .dropdown {
            display: none;
          }
        
          &--active .dropdown {
            display: block !important;
          }
        
          &--active .navbar__arrow {
            transform: rotate(0);
          }
                                                                                                                                                                                                                                                                                                                                                                                                // > .navbar__link {
                                                                                                                                                                                                                                                                                                                                                                                                //   padding: 20px 0;
                                                                                                                                                                                                                                                                                                                                                                                                // }
                                                                                                                                                                                                                                                                                                                                                                                                }
  }
}

.top-act {
  column-gap: 2rem;
  margin-left: auto;
  @include abstracts.screen(md) {
    margin-left: 0;
  }
  * {
    border-radius: 0.8rem;
  }
  &__group {
    min-width: 5rem;
    height: 5rem;
    display: flex;
    background: var(--top-act-group-bg-color);
    box-shadow: 0 2rem 6rem 1rem var(--top-act-group-shadow);

  }
  &__btn {
    display: flex;
    align-items: center;
    column-gap: 1rem;
  }

  &__btn:hover {
    cursor: pointer;
  }

  &__text {
    color: var(--text-color);
    @extend %top-bar-typho;
  }

  &__search {
    padding: 1.3rem;
  }

  &__seperator {
    display: inline-block;
    width: 0.1px;
    height: 3rem;
    background: var(--top-act-seperator-bg-color);
    margin: 0 20px;
  }

  &__group-right {
    padding: 1rem 2rem;
  }

  &__avt {
    display: block;
    background: #dfd2fa;
    width: 5rem;
    height: 5rem;
    box-shadow: 0 0.4rem 1.4rem 0.2rem var(top-act-avt-shadow);
    cursor: pointer;
  }
}
