@use "../abstracts";

.dropdown {
    display: none;
    width: min(1240px, 100%);
    height: 100%;
    position: absolute;
    left: 0;
    padding-top: 5rem;

    @include abstracts.screen(lg) {
        position: static;
        padding-top: 0;
        overflow-y: auto;
    }

    &__inner {
        --inner-height: min(582px, 100vh - 134px);
        --inner-padding-width: 30px;
        max-height: var(--inner-height);
        position: relative;
        border-radius: 2rem;
        padding: var(--inner-padding-width);
        background: var(--drop-down-bg-color);
        @include abstracts.screen(lg) {
                background: transparent;
                box-shadow: none;
                padding: 0;
                max-height: none;
            }
        box-shadow: 0px 40px 90px 20px var(--drop-down-shadow);

        &::before {
            content: url(../icons/drop-down.svg);
            display: inline-block;
            position: absolute;
            top: -15px;
            filter: var(--drop-down-arrow-color);
            left: var(--arrow-left-pos);
            transform: translate(-50%);
            @include abstracts.screen(lg) {
                    display: none;
                }
        }

    }
}

.top-menu {
    --top-menu-main-width: 292px;
    height: calc(var(--inner-height) - var(--inner-padding-width) * 2);
    display: flex;
    position: relative;
    
    @include abstracts.screen(lg) {
        height: auto;
    }

    &__main {
        height: inherit;
        width: var(--top-menu-main-width);
        border-right: 1px solid var(--menu-column-border);
        overflow-y: auto;
        @include abstracts.screen(lg) {
                border-right-color: transparent;
                width: 100%;
                overflow-y: visible;

            }
    }

    &__subs-wrapper {
        display: none;
        position: absolute;
        inset: 0 0 0 var(--top-menu-main-width);
        overflow-y: auto;
            @include abstracts.screen(lg) {
                    position: static;
                    overflow-y: visible;
                }
        &--not-main {
            display: block;
            inset: 0;
            
        }
            @include abstracts.screen(lg) {
            width: 100%;
        }
    }

    &__subs-inner {
        --col-gap-width: 30px;
        display: grid;
        grid-template-columns: repeat(3, calc(100% / 3 - var(--col-gap-width)));
        width: 100%;
        column-gap: var(--col-gap-width);
        @include abstracts.screen(lg) {
                grid-template-columns: 1fr;
            }
        &--not-main {
            grid-template-columns: repeat(4, calc(100% / 4 - var(--col-gap-width)));
            @include abstracts.screen(lg) {
                grid-template-columns: 1fr;
            }
        }
    }


    &__sub {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        padding-left: 30px;
        @include abstracts.screen(lg) {
                padding-left: 0;
                row-gap: 0;
            }
    }
}

.menu-column {

    display: flex;
    column-gap: 14px;

    @include abstracts.screen(lg) {
        padding: 7px 0;
    }

    &__icon {
        flex-shrink: 0;
        width: 36px;
        height: 36px;
        position: relative;
        @include abstracts.screen(lg) {
            &--hidden{
                display: none;
            }
        }

    }



    &__icon-1 {
        position: absolute;
        left: 0;
        top: 0;
        width: 30px;
        height: 30px;
        object-fit: contain;
        transform-origin: top left;
    }

    &__icon-2 {
        position: absolute;
        bottom: 0;

        right: 0;
        width: 24px;
        height: 24px;
        object-fit: cover;
        filter: var(--menu-column-icon);
    }

    &__content {
        flex: 1;
        
    }

    &__heading {
        margin-top: 6px;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        color: var(--menu-column-heading);
        @include abstracts.screen(lg) {
            display: block;
            margin-bottom: 14px;
            &--hidden {
                display: none;
            }

        }
    }

    &__list {
        margin-top: 19px;
        @include abstracts.screen(lg) {
            margin-top: 0;
        }
    }

    &__item--active .top-menu__subs-wrapper {
        display: block;
    }

    &__item-wrapper {
        @include abstracts.screenMin(lg){
            &:hover .top-menu__subs-wrapper {
                display: block;
            }
        }
        @include abstracts.screen(lg) {
            display: flex;
            flex-direction: column;
        }
    }

    &__item {
        display: block;
        padding: 7px 0;
        font-size: 14px;
        line-height: 1.42;
        color: var(--menu-column-link);

        @include abstracts.screenMin(lg){
            &:hover > .menu-column__item {
                font-weight: 500;
                color: #0071DC;
            }
        }
        
        &--active>.menu-column__item {
            font-weight: 500;
            color: #0071DC;
        }

        &--active>.top-menu__subs-wrapper{
            display: block;
        }



        
    }

}