::after,
::before,
* {
  box-sizing: border-box;
}

:root {
  --text-color: #1a162e;
  --icon-color: brightness(0) saturate(100%) invert(11%) sepia(39%)
    saturate(698%) hue-rotate(210deg) brightness(91%) contrast(102%);

  --icon-grey: brightness(0) saturate(100%) invert(69%) sepia(10%) saturate(232%) hue-rotate(206deg) brightness(90%) contrast(88%);;
}
img,
a,
input,
textarea,
button,
select {
  border: none;
  outline: none;
  padding: 0;
  background: transparent;
  font-family: inherit;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: Gordita, sans-serif;
  color: var(--text-color);
  background: var(--body-bg);
}

a {
  font-family: inherit;
  font-weight: inherit;
  text-decoration: none;
}

.icon {
  filter: var(--icon-color);
}

.icon--grey {
  filter: var(--icon-grey);
}

.go-to-top{
  position: fixed;
  bottom: 12px;
  right: 24px;
  width: 50px;
  height: 50px;
  border-radius: 99px;
  display: none;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition-property: opacity, visibility;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  background: var(--go-to-top-bg);
  & i{
    color: var(--go-to-top-arrow);
  }
}

.visable {
  visibility: visible;
  opacity: 1;
}
