<footer class="footer">
    <div class="footer__inner container">
        <div class="footer__row">
            <!--Footer column 1  -->
            <div class="footer__col">
                <a href="#!" class="footer__heading">
                    <img src="./assets/icons/logo.svg" alt="" class="footer__heading-img">
                    <h4 class="footer__heading-text">Grocerymart</h4>
                </a>
                <div class="footer__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam debitis quod earum voluptatem nulla voluptates facilis quaerat recusandae magni illo!</div>
                <label for="footer__input-email" class="footer__cta-text">Recive product news and updates</label>
                <form class="footer__cta">
                    <input type="email" id="footer__input-email" class=" btn btn--outline footer__cta-input" placeholder="Email address">
                    <button class="footer__cta-btn btn">SEND</button>
                </form>
            </div>
            <div class="footer__col">
                <h4 class="footer__heading-col">Shop</h4>
                <ul class="footer__list">
                    <li class="footer__item"><a href="#!" class="footer__item-text">All Departments</a></li>
                    <li class="footer__item"><a href="#!" class="footer__item-text">Fashion Deals</a></li>
                    <li class="footer__item"><a href="#!" class="footer__item-text">Electronics Discounts</a></li>
                    <li class="footer__item"><a href="#!" class="footer__item-text">Home & Living Specials</a></li>
                    <li class="footer__item"><a href="#!" class="footer__item-text">Coffee Bargains</a></li>
                </ul>
            </div>
            <div class="footer__col">
                <h4 class="footer__heading-col">Support</h4>
                <ul class="footer__list">
                    <li class="footer__item"><a href="#!" class="footer__item-text">Store locator</a></li>
                    <li class="footer__item"><a href="#!" class="footer__item-text">Orders status</a></li>
                </ul>
            </div>
            <div class="footer__col">
                <h4 class="footer__heading-col">Company</h4>
                <ul class="footer__list">
                    <li class="footer__item"><a href="#!" class="footer__item-text">Customer Service</a></li>
                    <li class="footer__item"><a href="#!" class="footer__item-text">Term of Use</a></li>
                    <li class="footer__item"><a href="#!" class="footer__item-text">Privacy</a></li>
                    <li class="footer__item"><a href="#!" class="footer__item-text">Careers</a></li>
                    <li class="footer__item"><a href="#!" class="footer__item-text">About</a></li>
                    <li class="footer__item"><a href="#!" class="footer__item-text">Affiliates</a></li>
                </ul>
            </div>
            <div class="footer__col">
                <h4 class="footer__heading-col">Contact</h4>
                <ul class="footer__list">
                    <li class="footer__item">
                        <h5 class="footer__sub-heading">Email</h5>
                        <a  href="#!"class="footer__item-text">contact@grocerymart.com</a>
                    </li>
                    <li class="footer__item">
                        <h5 class="footer__sub-heading">Hotline</h5>
                        <a href="#!" class="footer__item-text">18008888</a>
                    </li>
                    <li class="footer__item">
                        <h5 class="footer__sub-heading">Address</h5>
                        <p class="footer__item-text--pale">No1 11D, LotA10, Nam Trung Yen urban area, Yen Hoa Ward, Cau Giay District, City.Hanoi</p>
                    </li>
                    <li class="footer__item">
                        <h5 class="footer__sub-heading">Hours</h5>
                        <p class="footer__item-text--pale">Monday To Friday <br> 08:00 AM - 06:00 PM</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer__row-bottom">
            <div class="footer__col">
                <p class="footer__copy-right">© 2010 - 2025 Grocery Mart. All rights reserved.</p>
            </div>
            <div class="footer__col">
                <div class="footer__social-list">
                    <div class="footer__social-item footer__social-item-fb">
                        <i class="fa-brands fa-facebook"></i>
                    </div>
                    <div class="footer__social-item footer__social-item-yt">
                        <i class="fa-brands fa-youtube"></i>
                    </div>
                    <div class="footer__social-item footer__social-item-tt">
                        <i class="fa-brands fa-tiktok"></i>
                    </div>
                    <div class="footer__social-item footer__social-item-twt">
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                    <div class="footer__social-item footer__social-item-lkd">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>